﻿body {
    background: #eee;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

h1 {
    font-size: 30px;
    margin: 0;
    margin-bottom: 10px;
}

h2 {
    font-size: 24px;
    margin: 0;
    margin-bottom: 10px;
}

h3 {
    font-size: 20px;
    margin: 0;
    margin-bottom: 10px;
}

h4 {
    font-size: 17px;
    margin: 0;
    margin-bottom: 10px;
}

h5 {
    font-size: 13px;
    margin: 0;
}

div {
    color: #555;
    background: #ffffff;
}

.product {
    background: #f8f8e8;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 6px;
    margin: 30px auto;
    padding: 48px 0px;
    max-width: 600px;
    box-shadow: 0 1px 8px rgba(0,0,0,0.2);
}

    .product > h1, .product > h3 {
        padding: 0px 40px;
        margin-bottom: 0px;
    }

    .product > h4 {
        padding: 0px 40px;
        font-size: 13px;
    }

    .product > h3, .assembly h4, .product > h4 {
        color: #999;
        font-style: italic;
    }

.assembly {
    border-top: 1px dashed rgba(0,0,0,0.3);
    padding: 18px 40px;
}

    .assembly:first-child {
        margin-top: 25px;
    }

    .assembly:last-child {
        border-bottom: 1px dashed rgba(0,0,0,0.3);
    }

.domain {
    border-left: 4px solid #e8e8d8;
    padding-left: 15px;
    margin: 25px 0;
}

ul {
    list-style: outside none;
    margin-left: 0;
    padding-left: 1em;
}

li {
    padding-left: 1em;
    margin-left: 1em;
    text-indent: -1.5em;
}

    li.limitation {
        margin-left: 2em;
        color: #999;
        font-style: italic;
    }

    li.requirement:before {
        content: "✓  ";
        color: #597F00;
        font-size: 16px;
    }

    li.limitation:before {
        content: "ɸ  ";
        color: #96646B;
        font-size: 14px;
        font-style: normal;
    }

.hidden {
    display: none;
}

.searching .hidden {
    display: unset;
}

.searching .filtered {
    display: none;
}

.requirement-group-header {
    cursor: pointer;
    display: table;
}

    .requirement-group-header:hover {
        color: #00D397;
    }

#search {
    margin: 0px 40px;
    margin-bottom: 25px;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 3px;
    font-size: 14px;
    height: 32px;
    width: 520px;
    padding: 5px 10px;
}
